body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #ffffc7;
  color: #233e8b;
  text-align: center;
}

.avatar {
  width: 20%;
  height: 20%;
  align-items: center;
  margin: auto 0;
  padding: 3%;
  margin-left: 3%;
}

.resume {
  font-family: "Berkshire Swash", cursive;
  font-size: 5rem;
  align-items: center;
  margin: auto 0;
  padding: 3%;
}

.navbar {
  display: flex;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.links {
  width: 100%;
  align-items: center;
  margin: auto 0;
}

.hamburger-links {
  width: 100%;
  align-items: center;
  margin: auto 0;
  margin-right: 3%;
  flex-grow: 1;
  padding: 0 3%;
  font-size: 5rem;
}

.openedLinks {
  width: 70%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 12%;
  right: 5%;
  min-width: 250px;
  min-height: 500px;
  background-color: aquamarine;
  z-index: 1;
  padding: auto;
  line-height: 2;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
  margin: auto;
}

@media (max-width: 500px) {
  .resume {
    font-size: 1.25rem;
    color: red;
  }

  .hamburger-links {
    font-size: 2rem;
  }
}

@media (max-width: 720px) {
  .avatar {
    display: none;
  }
  .navbar {
    width: 80%;
  }
  .links {
    display: none;
  }
}

/*exported*/

h1 {
  font-family: "Berkshire Swash", cursive;
  font-size: 5rem;
}

.tile {
  max-width: 80%;
  height: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.tile-div {
  margin: 3% auto;
  width: 100%;
  position: relative;
}

.tile-header {
  position: absolute;
  bottom: 5%;
  left: 15%;

  margin: 0 auto;
  text-align: center;

  background-color: #a9f1df;
  opacity: 0.7;
  width: 70%;
  border-radius: 5px;
}

.experiences-header {
  font-size: 4rem;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #a9f1df;
  margin: 5%;
  padding: 3%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: left;
}

.closeButton {
  background-color: #233e8b;
  color: #ffe194;
  font-size: 2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  min-width: 10%;
  border: none;
}

.card-top {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
}
.card-year {
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.25rem;
  font-weight: bold;
  grid-column: 2;
  grid-row: 1;
  align-self: center;
}

.card-header {
  letter-spacing: 3px;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: #233e8b;
  font-weight: bolder;
}
.card-button {
  height: 20%;
}
.card-description {
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.5rem;
}

hr {
  width: 70%;
  text-align: center;
  border: none;
  border-top: 1px solid #233e8b;
  margin-top: 5%;
}

.card-content {
  line-height: 1.75rem;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.card-button {
  padding: 3%;
  background-color: #ffe194;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-family: "Berkshire Swash", cursive;
  color: #233e8b;
  letter-spacing: 2px;
  border: none;
  font-size: 0.9rem;
  align-items: right;
  width: 40%;
  align-self: flex-end;
}

.contentDetails h5 {
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 5px;
}

.contentDetails h6 {
  text-decoration: underline;
  font-size: 1.5rem;
  margin-bottom: 4%;
}

.contentDetails p {
  letter-spacing: 1.5px;
  font-weight: 600;
}

.about p {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 1.5;
  padding: 5%;
}

.github p {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 1.5;
  padding: 5%;
}

#form-contact {
  margin: 5%;
}
#form-contact input,
textarea {
  border: none;
  margin: 2%;
  width: 60%;
  background-color: #a9f1df;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-size: 1.25rem;
}

#form-contact input {
  height: 40px;
}

#form-contact ::placeholder {
  text-align: center;
  padding-top: 20px;
}

#form-contact button,
#form-new-message button {
  width: 200px;
  min-height: 40px;
  font-size: 1.5rem;
  background-color: #233e8b;
  color: #ffe194;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  letter-spacing: 5px;
}

@media (min-width: 721px) {
  .hamburger-links {
    display: none;
  }

  .openedLinks {
    opacity: 0;
  }

  .navbar {
    width: 70%;
  }
  .links {
    font-size: 1.5rem;
    color: #233e8b;
    font-weight: bold;
    text-decoration: none;
    padding: 1%;
    display: flex;
    width: 70%;
    justify-content: center;
    transition: transform 0.4s;
  }
  .links:hover {
    transform: scale(1.2);
  }

  .closeMenu {
    display: none;
  }

  .home {
    display: flex;
    justify-content: center;
  }

  .tile {
    width: 300px;

    height: auto;
    flex-grow: 1;
    align-self: stretch;
    transition: transform 0.4s;
  }
  .tile:hover {
    transform: scale(1.2);
  }
  .tile-header {
    font-size: 2rem;
  }
}
